@model Dimol.Judicial.Mantenedores.Models.GridModel
@{
    ViewBag.Title = "Ente Judicial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Ente Judicial</h2>
<br /><br />
@using Mvc.HtmlHelpers
@(Html.jqGrid("EnteJudicial")
    .addColumn(new Column("Codemp").setLabel("codemp")
        .setHidden(true)
        .setEditable(false)
        .setWidth(30))
    .addColumn(new Column("Id").setLabel("Id")
        .setSortable(true)
        .setWidth(30))
    .addColumn(new Column("Rut").setLabel("Rut")
        .setEditable(false)
        .setSortable(true)
        .setWidth(60))
    .addColumn(new Column("Nombre").setLabel("Nombre")
        .setEditable(true)
        .setEditType(EditType.select)
        .setEditOptions("value:\""+ViewBag.Provcli+"\"")
        .setWidth(200))
    .addColumn(new Column("NombreEmpleado").setLabel("Nombre Empleado")
        .setEditable(true)
        .setEditType(EditType.select)
        .setEditOptions("value:\""+ViewBag.Empleados+"\"")
        .setWidth(200))
  .addColumn(new Column("Sindico").setLabel("Sindico")
        .setEditable(true)
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setAlign(Align.center)
        .setWidth(80))   
    .addColumn(new Column("Abogado").setLabel("Abogado")
       .setEditable(true)
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setAlign(Align.center)
        .setWidth(80))
    .addColumn(new Column("Procurador").setLabel("Procurador")
        .setEditable(true)
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setAlign(Align.center)
        .setWidth(80))
    .addColumn(new Column("Receptor").setLabel("Receptor")
        .setEditable(true)
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setAlign(Align.center)
        .setWidth(80))
   
    .setCaption("EnteJudicial")
    .setRequestType(RequestType.get)
    .setUrl("~/Judicial/GetEnteJudicial/")
    .setAltRows(true)
    .setAltClass("altGridRows")
    .setAutoWidth(true)
    .setRowNum(10)
    .setRowList(new int[] { 10, 30, 50 })
    .setViewRecords(true)
    .setSortName("Nombre")
    .setSortOrder(SortOrder.asc)
    .setPager("pagerEnteJudicial")
    .setPagerPos(PagerPos.center)
    .setPgButtons(true)
    .setCellEdit(false)
    .setCellSubmit(CellSubmit.clientArray)
    .setNavEdit(ViewBag.Edit)
    .setEditUrl("/Judicial/OperEnteJudicial")
    .setNavAdd(ViewBag.Add)
    .setAddUrl("/Judicial/OperEnteJudicial")
    .setNavDel(ViewBag.Del)
    .setDelUrl("/Judicial/OperEnteJudicial")
    .setExcelExport("/Judicial/ExportToExcelEnteJudicial")
    .Render()

)
