@model Dimol.Judicial.Mantenedores.Models.GridModel
@{
    ViewBag.Title = "Notaria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Notaria</h2>
<br /><br />
@using Mvc.HtmlHelpers
@(Html.jqGrid("Notaria")
    .addColumn(new Column("Codemp").setLabel("codemp")
        .setHidden(true)
        .setEditable(false)
        .setWidth(30))
    .addColumn(new Column("Id").setLabel("Id")
        .setSortable(true)
        .setWidth(30))
    .addColumn(new Column("Rut").setLabel("Rut")
        .setEditable(true)
        .setSortable(true)
        .setWidth(60))
    .addColumn(new Column("Nombre").setLabel("Nombre")
        .setEditable(true)
        .setSortable(true)
        .setWidth(280))
     .addColumn(new Column("NombreNotaria").setLabel("Nombre Notaria")
        .setEditable(true)
        .setSortable(true)
        .setWidth(280))
    .addColumn(new Column("IdComuna").setLabel("IdComuna")
        .setEditable(true)
        .setSortable(true)
        .setWidth(80))   
    .addColumn(new Column("Direccion").setLabel("Direccion")
        .setEditable(true)
        .setSortable(true)
        .setWidth(250))
    .addColumn(new Column("Telefono1").setLabel("Telefono1")
        .setEditable(true)
        .setSortable(true)
        .setWidth(150))
    .addColumn(new Column("Telefono2").setLabel("Telefono2")
        .setEditable(true)
        .setSortable(true)
        .setWidth(150))
    .addColumn(new Column("Fax").setLabel("Fax")
        .setEditable(true)
        .setSortable(true)
        .setWidth(80))
      .addColumn(new Column("Celular").setLabel("Celular")
        .setEditable(true)
        .setSortable(true)
        .setWidth(100))
     .addColumn(new Column("Email").setLabel("Email")
        .setEditable(true)
        .setSortable(true)
        .setWidth(150))
     
      
    .setCaption("Tribunal")
    .setRequestType(RequestType.get)
    .setUrl("~/Judicial/GetNotaria/")
    .setAltRows(true)
    .setAltClass("altGridRows")
    .setAutoWidth(true)
    .setRowNum(10)
    .setRowList(new int[] { 10, 30, 50 })
    .setViewRecords(true)
    .setSortName("Nombre")
    .setSortOrder(SortOrder.asc)
    .setPager("pagerNotaria")
    .setPagerPos(PagerPos.center)
    .setPgButtons(true)
    .setCellEdit(false)
    .setCellSubmit(CellSubmit.clientArray)
    .setNavEdit(ViewBag.Edit)
    .setEditUrl("/Judicial/OperNotaria")
    .setNavAdd(ViewBag.Add)
    .setAddUrl("/Judicial/OperNotaria")
    .setNavDel(ViewBag.Del)
    .setDelUrl("/Judicial/OperNotaria")
    .setExcelExport("/Judicial/ExportToExcelNotaria")
    .Render()

)
