@{
    ViewBag.Title = "Panel Demandas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using Mvc.HtmlHelpers

<script type="text/javascript">
    window.onload = function () {
        $("#gridPanelDemandas").jqGrid("setColProp", "RutDeudor", {
            searchoptions: { sopt: ["cn"] } //Show search options
        });
    }
</script>

<div class="ui-widget ui-widget-content ui-corner-all" style="outline: 0px none;">
    <div class="ui-widget-header ui-corner-all">
        <span id="ui-dialog-title-dialog" class="ui-dialog-title">Datos Demandas</span>
    </div>
    <div class="col" style="float: right">
        <input type="button" value="Exportar a Excel" onclick="fnExcelPanelDEmandas();" />
    </div>
    <div style="height: auto; min-height: 300px; width: auto; margin: 10px;border:none" class="ui-widget-content">
        <br />
        @(Html.jqGrid("gridPanelDemandas")
            .addColumn(new Column("PanelId").setLabel("PanelId")
            .setSortable(true).setHidden(true).setEditable(false)
            .setWidth(60))
            .addColumn(new Column("Responsable").setLabel("Responsable")
            .setEditable(false).setSearch(false)
            .setSortable(true)
            .setWidth(150))
            .addColumn(new Column("FechaAsignacion").setLabel("Fec. Asignacion")
            .setEditable(false).setAlign(Align.center).setFormatter(Formatters.date).setDateFmt("d-m-Y")
            .setSortable(true).setSearch(false)
            .setWidth(100))
            .addColumn(new Column("FechaAprobacionTraspaso").setLabel("Fec. Traspaso")
            .setEditable(false).setAlign(Align.center).setFormatter(Formatters.date).setDateFmt("d-m-Y")
            .setSortable(true).setSearch(false)
            .setWidth(100))
            .addColumn(new Column("FechaIngresaJudicial").setLabel("Fec. Ingreso Judicial")
            .setEditable(false).setAlign(Align.center).setFormatter(Formatters.date).setDateFmt("d-m-Y")
            .setSortable(true).setSearch(false)
            .setWidth(130))
            .addColumn(new Column("Cliente").setLabel("Cliente")
            .setAlign(Align.left).setEditable(false).setSearch(false)
            .setWidth(150))
            .addColumn(new Column("RutDeudor").setLabel("Rut Deudor").setSearch(true)
            .setEditable(false)
            .setSortable(true)
            .setWidth(100))
            .addColumn(new Column("Deudor").setLabel("Deudor")
            .setEditable(false).setSearch(false)
            .setSortable(true)
            .setWidth(200))
            .addColumn(new Column("Asegurado").setLabel("Asegurado")
            .setEditable(false).setSearch(false)
            .setSortable(true)
            .setWidth(200))
            .addColumn(new Column("TipoDocumento").setLabel("Tipo Documento")
            .setEditable(false).setSearch(false)
            .setSortable(true)
            .setWidth(100))
            .addColumn(new Column("Comuna").setLabel("Comuna")
            .setEditable(false).setSearch(false)
            .setSortable(true)
            .setWidth(150))
            .addColumn(new Column("Region").setLabel("Region")
            .setEditable(false).setSearch(false)
            .setSortable(true)
            .setWidth(200))
            .addColumn(new Column("EncargadoCofeccion").setLabel("Encargado Confección")
            .setEditable(false).setSearch(false)
            .setSortable(true)
            .setWidth(150))
            .addColumn(new Column("FechaEnvioConfeccion").setLabel("Fec. Envio Confección")
            .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
            .setSortable(true).setSearch(false)
            .setWidth(130))
            .addColumn(new Column("FechaEntrega").setLabel("Fec.Entrega").setAlign(Align.center)
            .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y")
            .setSortable(true).setSearch(false)
            .setWidth(80))
            .addColumn(new Column("FechaIngresoTribunal").setLabel("Fec. Ingreso Tribunal")
            .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
            .setSortable(true).setSearch(false)
            .setWidth(130))
            .addColumn(new Column("Correcciones").setLabel("Correcciones").setAlign(Align.center)
            .setEditable(false).setSearch(false)
            .setSortable(true)
            .setWidth(70))
            .addColumn(new Column("CountCorrecciones").setLabel("Cant.").setAlign(Align.left)
            .setEditable(false).setSearch(false)
            .setSortable(true)
            .setWidth(30))
            .addColumn(new Column("Comentarios").setLabel("Comentarios")
            .setEditable(false).setSearch(false)
            .setSortable(true)
            .setWidth(100))
            .addColumn(new Column("Procesada").setLabel("Procesada")
            .setSortable(true).setHidden(true).setEditable(true)
            .setWidth(60))
            .addColumn(new Column("Avance").setLabel("").setCustomFormatter("fnBotonesGridPanelDemandas").setSearch(false)
            .setWidth(40)
            .setAlign(Align.center))

            .addColumn(new Column("RolNumero").setLabel("Número de Rol")
            .setEditable(false).setSearch(false)
            .setSortable(true)
            .setWidth(100))
            .addColumn(new Column("TribunalNombre").setLabel("Nombre del Tribunal")
            .setEditable(false).setSearch(false)
            .setSortable(true)
            .setWidth(120))

            .addColumn(new Column("UsridEncargado").setLabel("UsridEncargado")
            .setSortable(true).setHidden(true)
            .setWidth(60))
            .addColumn(new Column("Pclid").setLabel("Pclid")
            .setSortable(true).setHidden(true)
            .setWidth(60))
            .addColumn(new Column("Ctcid").setLabel("Ctcid")
            .setSortable(true).setHidden(true)
            .setWidth(60))
            .addColumn(new Column("RutCliente").setLabel("RutCliente")
            .setSortable(true).setHidden(true)
            .setWidth(60))
            .addColumn(new Column("CountFechaEntrega").setLabel("CountFechaEntrega")
            .setSortable(true).setHidden(true)
            .setWidth(60))
            .addColumn(new Column("Cursodemanda")
            .setLabel("Da curso la Demanda?").addClass("redFont").setAlign(Align.center).setSearch(false)
            .setCustomFormatter("formatCursoDemanda")
            .setWidth(150))
            .addColumn(new Column("CountCursodemanda").setLabel("Cant. No curso").setAlign(Align.center)
            .setEditable(false).setSearch(false)
            .setSortable(true)
            .setWidth(100))
            .addColumn(new Column("Eliminar").setLabel("").setCustomFormatter("fnBotonEliminarPanelDemandas").setSearch(false)
            .setWidth(55)
            .setAlign(Align.center))


            // settings
            .setCaption("Panel de Demandas")
            .setRequestType(RequestType.get)
            .setUrl("~/Judicial/ListarPanelDemandas/")
            .setAltRows(true)
            .setAltClass("altGridRows")
            .setAutoWidth(true)
            .setRowNum(2000)
            .setRowList(new int[] { 20, 50, 100, 500 })
            .setViewRecords(true)
            .setSortName("PanelId")
            .setSortOrder(SortOrder.asc)
            .setPager("pagerPanelDemandas")
            .setPagerPos(PagerPos.center)
            .setPgButtons(true)
            .setCellEdit(false)
            .setCellSubmit(CellSubmit.clientArray)
            .setExcelExport("/Judicial/ExportToExcelPanelDemandas")
            .setScroll(true)
            .setHeight(450)
            .setShrinkToFit(false)//.setCustomGrid
            .setSubGrid(new Grid("GridSub")
            // columns
            .addColumn(new Column("Numero").setLabel("Número").setAlign(Align.center)
            .setSortable(true)
            .setWidth(100))
            .addColumn(new Column("TipoDocumento").setLabel("Tipo Documento").setAlign(Align.center)
            .setSortable(true)
            .setWidth(100))
            .addColumn(new Column("FechaAsignacion").setLabel("Fecha Asig.").setAlign(Align.center)
            .setSortable(true).setFormatter(Formatters.date).setDateFmt("d-m-Y")
            .setWidth(72))
            .addColumn(new Column("FechaVencimiento").setLabel("Fecha Venc.").setAlign(Align.center)
            .setSortable(true).setFormatter(Formatters.date).setDateFmt("d-m-Y")
            .setWidth(72))
            .addColumn(new Column("Monto").setLabel("Monto").setAlign(Align.right).setFormatter(Formatters.number)
            .setSortable(true)
            .setWidth(70))
            .addColumn(new Column("Saldo").setLabel("Saldo").setAlign(Align.right).setFormatter(Formatters.number)
            .setSortable(true)
            .setWidth(70))
            .addColumn(new Column("Estado").setLabel("Estado").setAlign(Align.center)
            .setSortable(true)
            .setWidth(100))
            .addColumn(new Column("Asegurado").setLabel("Asegurado")
            .setSortable(true)
            .setWidth(220))
            // settings
            .setRequestType(RequestType.get)
            .setUrl("~/Judicial/ListarDocumentosPanelId?panelId='+row_id+'")
            .setAutoWidth(false)
            .setRowNum(200)
            .setRowList(new int[] { 50, 20, 100 })
            .setViewRecords(true)
            .setSortName("Numero")
            .setSortOrder(SortOrder.asc)
            .setPager("pagerPanelDemandasSubGrid")
            .setPagerPos(PagerPos.center)
            .setPgButtons(true).setShrinkToFit(false))
            .Render()
        )
    </div>
</div>

@using (Html.JQueryUI().Begin(new Dialog(new { id = "ppAvanceDemanda" }).Draggable(true)
                            .AutoOpen(false)
                            .Modal(true)
                            .Title("Avance Demanda")
                            .CloseOnEscape(true)
                            .Width(600)
                            .Height(450)
)) {
    @Html.Partial("_AgregarAvanceDemanda")
}

@using (Html.JQueryUI().Begin(new Dialog(new { id = "ppAgragarRol" }).Draggable(true)
                    .AutoOpen(false)
                    .Modal(true)
                    .Title("Ingreso Rol")
                    .CloseOnEscape(true)
                    .Width(800)
                    .Height(500)
)) {
    @Html.Partial("_AgregarAvanceDemandaRol")
}