@{
    ViewBag.Title = "PanelQuiebra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Panel Quiebra</h2>
@using Mvc.HtmlHelpers
<div class="ui-widget ui-widget-content ui-corner-all" style="outline: 0px none;">
    <div class="ui-widget-header ui-corner-all">
        <span id="ui-dialog-title-dialog" class="ui-dialog-title">Datos Quiebra</span>

    </div>
    <div class="col" style="float: right">
        <input type="button" value="Exportar a Excel" onclick="fnExcelPanelQuiebras();" />
    </div>
    <div style="height: auto; min-height: 300px; width: auto; margin: 10px;border:none" class="ui-widget-content">

        <br />

        @(Html.jqGrid("gridPanelQuiebra")
                .addColumn(new Column("RolNumero").setLabel("Rol")
                .setAlign(Align.left)
                .setWidth(100))
                .addColumn(new Column("Cliente").setLabel("Cliente")
                .setAlign(Align.left)
                .setWidth(230))
                .addColumn(new Column("RutDeudor").setLabel("Rut Deudor")
                .setAlign(Align.left)
                .setWidth(230))
                .addColumn(new Column("Deudor").setLabel("Deudor")
                .setEditable(false).setSearch(true)
                .setSortable(true)
                .setWidth(230))
                .addColumn(new Column("Asegurado").setLabel("Asegurado")
                .setEditable(false).setSearch(true)
                .setSortable(true)
                .setWidth(200))
                .addColumn(new Column("Cuantia")
                .setLabel("Cuantía")
                .setAlign(Align.right)
                .setFormatter(Formatters.integer)
                .setSortable(true)
                .setWidth(60))
                .addColumn(new Column("FechaIngresoQuiebra").setLabel("Fec. Ingreso Quiebra")
                .setEditable(false).setAlign(Align.center).setFormatter(Formatters.date).setDateFmt("d-m-Y")
                .setSortable(true)
                .setWidth(130))
                .addColumn(new Column("Materia").setLabel("Materia")
                .setEditable(false)
                .setSortable(true)
                .setWidth(250))
                .addColumn(new Column("Solicitante").setLabel("Solicitante")
                .setEditable(false)
                .setSortable(true)
                .setWidth(70))
                .addColumn(new Column("MtoCostasPersonales").setLabel("Mto Costas Personales").setAlign(Align.right).setFormatter(Formatters.integer)
                .setSortable(true)
                .setWidth(130))
                .addColumn(new Column("FecCostasPersonales").setLabel("Fec. Costas Personales")
                .setEditable(false).setAlign(Align.center).setFormatter(Formatters.date).setDateFmt("d-m-Y")
                .setSortable(true)
                .setWidth(130))
                .addColumn(new Column("FecIngresoSolicitud").setLabel("Fec. Ingreso Solicitud")
                .setEditable(false).setAlign(Align.center).setFormatter(Formatters.date).setDateFmt("d-m-Y")
                .setSortable(true)
                .setWidth(130))
                .addColumn(new Column("FecNotificacionSolicitud").setLabel("Fec. Notificación Solicitud")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(150))
                .addColumn(new Column("FecAudienciaInicial").setLabel("Fec. Audiencia Inicial").setAlign(Align.center)
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y")
                .setSortable(true)
                .setWidth(130))
                .addColumn(new Column("FecAudienciaPrueba").setLabel("Fec. Audiencia Prueba")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(130))
                .addColumn(new Column("FecAudienciaFallo").setLabel("Fec. Audiencia Fallo")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(130))
                .addColumn(new Column("FecResolucionLiquidacion").setLabel("Fec. Resolución Liquidación")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(160))
                .addColumn(new Column("FecResolucionLiquidacionBC").setLabel("Fec. Resolución Liquidación BC")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(170))
                .addColumn(new Column("FecResolucionReorganizacionBC").setLabel("Fec. Resolución Reorganización BC")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(190))
                .addColumn(new Column("FecVerificacion").setLabel("Fec. Verificación")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(100))
                .addColumn(new Column("FecAcreditacionPoder").setLabel("Fec. Acreditación Poder")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(130))
                .addColumn(new Column("FecJuntaConstitutiva").setLabel("Fec. Junta Constitutiva")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(130))
                .addColumn(new Column("FecJuntaDeliberativa").setLabel("Fec. Junta Deliberativa")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(130))
                .addColumn(new Column("StatusAcuerdo").setLabel("Status Acuerdo")
                .setEditable(false)
                .setSortable(true)
                .setWidth(100))
                .addColumn(new Column("FecAcuerdo").setLabel("Fec. Acuerdo")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(100))
                .addColumn(new Column("FecVerificadoAcreditado").setLabel("Fec. Que tiene por verificado el crédito o acreditado el poder")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(310))
                .addColumn(new Column("FecNomCreditoVerificado").setLabel("Fec. Nómina de créditos Verificados")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(250))
                .addColumn(new Column("FecImpugnacion").setLabel("Fec. Impugnación")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(100))
                .addColumn(new Column("FecNomCreditoReconocido").setLabel("Fec. Nómina de créditos Reconidos")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(230))
                .addColumn(new Column("FecSolicitudAntecedente").setLabel("Fec. Solicitud Antecedentes para ND al Cliente")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(270))
                .addColumn(new Column("FecRecepcionAntecedente").setLabel("Fec. Recepción Antecedentes para solicitar ND")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(270))
                .addColumn(new Column("FecEnvioAntecedente").setLabel("Fec. Envío Antecedentes para ND al Liquidador")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(270))
                .addColumn(new Column("FecEmisionND").setLabel("Fec. Emisión de ND")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(130))
                .addColumn(new Column("MtoEmision").setLabel("Monto. Emisión de ND").setAlign(Align.right).setFormatter(Formatters.integer)
                .setSortable(true)
                .setWidth(120))
                .addColumn(new Column("FecRepartos").setLabel("Fec. Repartos")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(100))
                .addColumn(new Column("MtoRepartos").setLabel("Monto. Repartos").setAlign(Align.right).setFormatter(Formatters.integer)
                .setSortable(true)
                .setWidth(90))
                .addColumn(new Column("FecDevolucion").setLabel("Fec. Devolución 100 UF")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(130))
                .addColumn(new Column("PgoCostasPersonales").setLabel("Pago Costas Personales").setAlign(Align.right).setFormatter(Formatters.integer)
                .setSortable(true)
                .setWidth(120))
                .addColumn(new Column("FecPgoCostasPersonales").setLabel("Fec. Pago Costas Personales")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(160))
                .addColumn(new Column("FecAprobacionCtaFinal").setLabel("Fec. Aprobación Cuenta Final")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(160))
                .addColumn(new Column("FecCertificadoIncobrable").setLabel("Fec. Certificado Incobrabilidad")
                .setEditable(false).setFormatter(Formatters.date).setDateFmt("d-m-Y").setAlign(Align.center)
                .setSortable(true)
                .setWidth(170))
                .addColumn(new Column("NombreTribunal")
                .setEditable(false)
                .setAlign(Align.center)
                .setHidden(true)
                .setSortable(true)
                .setWidth(170))
                .onLoadComplete("fnPanelQuiebraLoaded()")
            // settings
            .setCaption("Panel de Quiebra")
            .setRequestType(RequestType.get)
            .setUrl("~/Judicial/ListarPanelQuiebraGrilla/")
            .setAltRows(true)
            .setAltClass("altGridRows")
            .setAutoWidth(true)
            .setRowNum(100)
            .setRowList(new int[] { 100, 200, 500 })
            .setViewRecords(true)
            .setSortName("QuiebraId")
            .setSortOrder(SortOrder.asc)
            .setPager("pagerPanelQuiebra")
            .setPagerPos(PagerPos.center)
            .setPgButtons(true)
            .setCellEdit(false)
            .setCellSubmit(CellSubmit.clientArray)
            .setExcelExport("/Judicial/ExportToExcelPanelQuiebras")
            .setShrinkToFit(false)
            .setGrouping(true)
            .setGroupingView("groupField: ['RolNumero'],groupColumnShow: [false], groupText: ['Rol: <b>{0} - {1} Asegurados(s)</b>'], groupCollapse: false, groupOrder: ['asc'], groupDataSorted: true")
            .Render()




        )

    </div>
</div>