@model Dimol.Judicial.Mantenedores.Models.GridModel
@{
    ViewBag.Title = "Tipos Tribunal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Tipos Tribunal</h2>
<br /><br />
@using Mvc.HtmlHelpers

@(Html.jqGrid("TiposTribunal")
    .addColumn(new Column("Codemp").setLabel("codemp")
        .setHidden(true)
        .setEditable(false)
        .setWidth(50))
    .addColumn(new Column("Id").setLabel("Id")
        .setSortable(true)
        .setWidth(50))
    .addColumn(new Column("Nombre").setLabel("Nombre")
        .setEditable(true)
        .setSortable(true)
        .setWidth(80))
   

    .setCaption("TiposTribunal")
    .setRequestType(RequestType.get)
    .setUrl("~/Judicial/GetTiposTribunal/")
    .setAltRows(true)
    .setAltClass("altGridRows")
    .setAutoWidth(true)
    .setRowNum(10)
    .setRowList(new int[] { 10, 30, 50 })
    .setViewRecords(true)
    .setSortName("Nombre")
    .setSortOrder(SortOrder.asc)
    .setPager("pagerTiposTribunal")
    .setPagerPos(PagerPos.center)
    .setPgButtons(true)
    .setCellEdit(false)
    .setCellSubmit(CellSubmit.clientArray)
    .setNavEdit(ViewBag.Edit)
    .setEditUrl("/Judicial/OperTiposTribunal")
    .setNavAdd(ViewBag.Add)
    .setAddUrl("/Judicial/OperTiposTribunal")
    .setNavDel(ViewBag.Del)
    .setDelUrl("/Judicial/OperTiposTribunal")
    .setExcelExport("/Judicial/ExportToExcelTiposTribunal")
    .Render()

)
