@model Dimol.Empresa.Models.GridModel
@{
    ViewBag.Title = "Monedas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Monedas</h2>
<br /><br />
@using Mvc.HtmlHelpers
@(Html.jqGrid("Monedas")
   
    .addColumn(new Column("CodEmp").setLabel("CodEmp")
        .setEditable(false)    
        .setHidden(true)
        .setSortable(true)
        .setWidth(80))
    .addColumn(new Column("Id").setLabel("Id")
        .setEditable(false)    
        .setHidden(true )
        .setSortable(true)
        .setWidth(80))
    .addColumn(new Column("Nombre").setLabel("Nombre")
        .setEditable(true)    
        .setHidden(false )
        .setSortable(true)
        .setWidth(200))
    .addColumn(new Column("Simbolo").setLabel("Simbolo")
        .setHidden(false)
        .setEditable(true)
        .setSortable(true)
        .setWidth(100))
       .addColumn(new Column("MonedaDefault").setLabel("Default")
        .setEditable(true)
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setAlign(Align.center)
        .setWidth(120))
      .addColumn(new Column("Porcentaje").setLabel("Porcentaje Intereses")
        .setHidden(false)
        .setEditable(true)
        .setSortable(true)
        .setWidth(80))
    .addColumn(new Column("Decimales").setLabel("Decimales")
        .setHidden(false)
        .setEditable(true)
        .setSortable(true)
        .setWidth(80))
   
      
    .setCaption("Moneda")
    .setRequestType(RequestType.get)
    .setUrl("~/Empresa/GetMoneda/")
    .setAltRows(true)
    .setAltClass("altGridRows")
    .setAutoWidth(true)
    .setRowNum(10)
    .setRowList(new int[] { 10, 30, 50 })
    .setViewRecords(true)
    .setSortName("Nombre")
    .setSortOrder(SortOrder.asc)
    .setPager("pagerMoneda")
    .setPagerPos(PagerPos.center)
    .setPgButtons(true)
    .setCellEdit(false)
    .setCellSubmit(CellSubmit.clientArray)
    .setNavEdit(ViewBag.Edit)
    .setEditUrl("/Empresa/OperMoneda")
    .setNavAdd(ViewBag.Add)
    .setAddUrl("/Empresa/OperMoneda")
    .setNavDel(ViewBag.Del)
    .setDelUrl("/Empresa/OperMoneda")
    .setExcelExport("/Empresa/ExportToExcelMoneda")
    .Render()

)
