@model Dimol.Empresa.Models.GridModel
@{
    ViewBag.Title = "Perfiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Perfiles</h2>
<br /><br />
@using Mvc.HtmlHelpers
@(Html.jqGrid("Perfiles")
   
    .addColumn(new Column("CodEmp").setLabel("CodEmp")
        .setEditable(false)    
        .setHidden(true)
        .setSortable(true)
        .setWidth(80))
    .addColumn(new Column("Id").setLabel("Id")
        .setEditable(false)    
        .setHidden(true )
        .setSortable(true)
        .setWidth(80))
    .addColumn(new Column("Nombre").setLabel("Nombre")
        .setEditable(true)    
        .setHidden(false )
        .setSortable(true)
        .setWidth(200))
    .addColumn(new Column("Administrador").setLabel("Administrador")
        .setEditable(true)
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setAlign(Align.center)
        .setWidth(120))
    
      
    .setCaption("Perfil")
    .setRequestType(RequestType.get)
    .setUrl("~/Empresa/GetPerfil/")
    .setAltRows(true)
    .setAltClass("altGridRows")
    .setAutoWidth(true)
    .setRowNum(10)
    .setRowList(new int[] { 10, 30, 50 })
    .setViewRecords(true)
    .setSortName("Nombre")
    .setSortOrder(SortOrder.asc)
    .setPager("pagerPerfil")
    .setPagerPos(PagerPos.center)
    .setPgButtons(true)
    .setCellEdit(false)
    .setCellSubmit(CellSubmit.clientArray)
    .setNavEdit(ViewBag.Edit)
    .setEditUrl("/Empresa/OperPerfil")
    .setNavAdd(ViewBag.Add)
    .setAddUrl("/Empresa/OperPerfil")
    .setNavDel(ViewBag.Del)
    .setDelUrl("/Empresa/OperPerfil")
    .setExcelExport("/Empresa/ExportToExcelPerfil")
    .Render()

)
