@{
    ViewBag.Title = "VisitaTerrenoCarteraGeoGestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Visita Terreno Cartera GeoGestion</h2>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using Mvc.HtmlHelpers
<style>
    fieldset {
        border: 1px solid #1F497D;
        background: #ddd;
        border-radius: 2px;
        padding: 15px;
    }

        fieldset legend {
            background: #1F497D;
            color: #fff;
            padding: 0.2em 0.5em;
            font-size: 32px;
            border-radius: 5px;
            box-shadow: 0 0 0 5px #ddd;
            margin-left: 20px;
        }
</style>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        // rule select
        $.validator.addMethod("valueNotEquals", function (value, element, arg) {
            return arg != value;
        }, "Value must not equal arg.");

    });
</script>

<div class="ui-widget ui-widget-content ui-corner-all" style="outline: 0px none;">
    <div class="ui-widget-header ui-corner-all">
        <span id="ui-dialog-title-dialog" class="ui-dialog-title">Carteras Visita Terreno</span>

    </div>
    <div style="height: auto; min-height: 300px; width: auto; margin: 10px;border:none" class="ui-widget-content">

        <br />
        <div class="tabla">
            <div class="fila">
                <div class="col"><button class="search" id="btnAgregarCarteraVisita" onclick="fnAgregarVisitaTerrenoCarteraGestor();" style="vertical-align:middle"><img src="~/Images/botones/Add20.png" width="20px" height="20px" title="Agregar" alt="Agregar" /></button>Agregar </div>
            </div>
        </div><br />
        @(Html.jqGrid("gridVisitaTerrenoCarteraGestores")
                .addColumn(new Column("Cartera_Nombre").setLabel("Cartera Visita")
                .setEditable(false)
                .setSortable(true)
                .setWidth(150))

                .addColumn(new Column("Descripcion").setLabel("Descripción")
                .setSortable(true).setAlign(Align.center)
                .setWidth(100))

                .addColumn(new Column("Ges_Nombre").setLabel("Gestor")
                .setEditable(false).setAlign(Align.center)
                .setSortable(true)
                .setWidth(200))
                .addColumn(new Column("TelefonoTerreno").setLabel("Telefono")
                .setEditable(false).setAlign(Align.center)
                .setSortable(true)
                .setWidth(60))
                .addColumn(new Column("TelefonoImei").setLabel("Imei")
                .setEditable(false).setAlign(Align.center)
                .setSortable(true)
                .setWidth(100))
                .addColumn(new Column("CarteraId").setLabel(" ")
                .setHidden(true)
                .setEditable(false)//.setCustomFormatter("fnBotonesgridVisitaTerrenoCarteraGestores")
                .setWidth(30))
                .addColumn(new Column("GesId").setLabel("GesId")
                .setSortable(true).setHidden(true)
                .setWidth(60))
                
                // settings
                .setCaption("Carteras Gestores").setWidth(700)
                .setRequestType(RequestType.get)
                .setUrl("~/Cartera/ListarVisitaTerrenoCarteraGeoGestionGestor/")
                .setAltRows(true)
                .setAltClass("altGridRows")
                .setAutoWidth(false)
                .setRowNum(10)
                .setRowList(new int[] { 10, 30, 50 })
                .setViewRecords(true)
                .setSortName("GES_NOMBRE")
                .setSortOrder(SortOrder.asc)
                .setPager("pagerCarteraVisitaGestores")
                .setPagerPos(PagerPos.center)
                .setPgButtons(true)
                .setCellEdit(false)
                .setCellSubmit(CellSubmit.clientArray)
                .Render()


        )

    </div>
</div>
@using (Html.JQueryUI().Begin(new Dialog(new { id = "ppCarteraVisitaGestor" }).Draggable(true)
                .AutoOpen(false)
                .Modal(true)
                .Title("Agregar Cartera Visita Terreno")
                .CloseOnEscape(true)
                .Width(600)
                .Height(215)

                ))
{
    @Html.Partial("_AgregarVisitaTerrenoCartera")
}
