@model Dimol.Contabilidad.Mantenedores.Models.GridModel
@{
    ViewBag.Title = "ClasificacionDocumentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function getTrueFalse() {
        var data = "true:false";
        return data;
    }

</script>
<br />
<h2>Clasificacion Documentos</h2>
<br /><br />
@using Mvc.HtmlHelpers

@(Html.jqGrid("ClasificacionDocumentos")
    .addColumn(new Column("Codemp").setLabel("Empresa")
        .setHidden(true)
        .setEditable(true)
        .setWidth(50))
      
    .addColumn(new Column("Codigo").setLabel("Nombre")
        .setSortable(true)
        .setAlign(Align.center)
        .setEditable(true)
        .setWidth(30))
   .addColumn(new Column("Tipo").setLabel("Tipo")
        .setSortable(true)
        .setAlign(Align.left)
        .setWidth(30))
   .addColumn(new Column("TipoComprobante").setLabel("Tipo Comprobante")
        .setHidden(true)
        .setEditable(true)
        .setSortable(true)
        .setEditType(EditType.select)
        .setEditRules("edithidden:true")
        .setEditOptions("value:\""+ViewBag.TipoComprobante+"\"")
        .setWidth(50))
   .addColumn(new Column("TipoProducto").setLabel("Tipo Producto")
        .setHidden(true)
        .setEditable(true)
        .setSortable(true)
        .setEditType(EditType.select)
        .setEditRules("edithidden:true")
        .setEditOptions("value:\""+ViewBag.TipoProducto+"\"")
        .setWidth(50))
   
   .addColumn(new Column("CostosSN").setLabel("Costos")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()")) 
        
   .addColumn(new Column("SeleccionOtroComprobanteSN").setLabel("Selecciona Otro Comprobante")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()")) 
        
   .addColumn(new Column("CarteraClientesSN").setLabel("Cartera Clientes")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()"))
        
   .addColumn(new Column("FinalizaDeudaSN").setLabel("Finaliza Deuda")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()"))    
        
   .addColumn(new Column("ContableSN").setLabel("Contable")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()"))
        
   .addColumn(new Column("CambiaDocumentoSN").setLabel("Cambia Documento")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()"))
        
   .addColumn(new Column("AnulaImpuestoSN").setLabel("Anula Impuestos")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()"))
        
   .addColumn(new Column("FormaPagoSN").setLabel("Solicita Forma de Pago")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()"))
        
   .addColumn(new Column("OrdenCompraSN").setLabel("Solicita Orden Compra")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()"))
        
   .addColumn(new Column("Concepto").setLabel("Concepto")
        .setHidden(true)
        .setEditable(true)
        .setSortable(true)
        .setEditType(EditType.select)
        .setEditRules("edithidden:true")
        .setEditOptions("value:\""+ViewBag.Concepto+"\"")
        .setWidth(50))
        
   .addColumn(new Column("Movimiento").setLabel("Movimiento")
        .setHidden(true)
        .setEditable(true)
        .setSortable(true)
        .setEditType(EditType.select)
        .setEditRules("edithidden:true")
        .setEditOptions("value:\""+ViewBag.Movimiento+"\"")
        .setWidth(50))
        
   .addColumn(new Column("MostrarEnLibrosSN").setLabel("Mostrar en Libros")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()"))
        
    .addColumn(new Column("HonorariosSN").setLabel("Honorarios")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()"))
   
   .addColumn(new Column("Cuenta").setLabel("Cuenta")
        .setHidden(true)
        .setEditable(true)
        .setSortable(true)
        .setEditType(EditType.select)
        .setEditRules("edithidden:true")
        .setEditOptions("value:\""+ViewBag.Cuenta+"\"")
        .setWidth(50))
        
    .addColumn(new Column("Stock").setLabel("Stock")
        .setHidden(true)
        .setEditable(true)
        .setSortable(true)
        .setEditType(EditType.select)
        .setEditRules("edithidden:true")
        .setEditOptions("value:\""+ViewBag.Stock+"\"")
        .setWidth(50))
                       
   .addColumn(new Column("SaldosSN").setLabel("Saldos")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()"))
        
        
   .addColumn(new Column("ReservaSN").setLabel("Reserva")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()"))
        
    .addColumn(new Column("TransitoSN").setLabel("Transito")
        .setEditable(true)
        .setAlign(Align.center)
        .setWidth(50)
        .setHidden(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.checkbox).setFormatter(Formatters.checkbox)
        .setEditOptions("value:getTrueFalse()"))
        
   .addColumn(new Column("Id").setLabel("ID")
   
        .setHidden(true)
        .setEditable(true)
        .setSortable(true)
        .setWidth(50))
      
    // settings
    
    .setCaption("ClasificacionDocumentos")
    .setRequestType(RequestType.get)
    .setUrl("~/Contabilidad/GetClasificacionDocumentos/")
    .setAltRows(true)
    .setAltClass("altGridRows")
      
    .setAutoWidth(true)
    .setRowNum(10)
    .setRowList(new int[] { 10, 30, 50 })
    .setViewRecords(true)
    .setSortName("codigo")
    
    .setSortOrder(SortOrder.asc)
    .setPager("pagerClasificacionDocumentos")
    .setPagerPos(PagerPos.center)
    .setPgButtons(true)
    .setCellEdit(false)
    .setCellSubmit(CellSubmit.clientArray)
    .setNavEdit(ViewBag.Edit)
    .setEditUrl("/Contabilidad/OperClasificacionDocumentos")
    .setNavAdd(ViewBag.Add)
    .setAddUrl("/Contabilidad/OperClasificacionDocumentos")
    .setNavDel(ViewBag.Del)
    .setDelUrl("/Contabilidad/OperClasificacionDocumentos")
    .setExcelExport("/Contabilidad/ExportToExcel")
    
    .Render()

)
