<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="Servidor" value="10.0.1.11" />-->
    <add key="Servidor" value="PARALLAXsurface\SQLEXPRESS" />
    <add key="BaseDatos" value="PoderJudicial" />
    <add key="Usuario" value="®´¹¼º" />
    <!--<add key="Password" value="Ž|¹}º€‚ˆ" />-->
    <add key="Password" value="Ž´¹}º€‰ˆ‹" />
    <add key="SSPI" value="False" />
    <add key="Nativo" value="True" />
    <add key="Proveedor" value="sqloledb" />
    <add key="ServiceName" value="Servicio Rol Externo"/>
    <add key="ServiceStart" value="1"/>
    <add key="ServiceStop" value="75"/>
    <add key="ServiceAnio" value="2016"/>
    <add key="UrlPJ" value="http://civil.poderjudicial.cl/CIVILPORWEB/"/>
    <add key="UrlLista" value="http://civil.poderjudicial.cl/CIVILPORWEB/AtPublicoDAction.do"/>
    <add key="PathFirefox" value="C:\Program Files (x86)\Mozilla Firefox\firefox.exe"/>
    <!--<add key="PathFirefox" value="C:\Program Files (x86)\Mozilla Firefox\Firefox.exe"/>-->
  </appSettings>
</configuration>