@model Dimol.ProveedorCliente.Mantenedores.Models.GridModel
@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Categorias</h2>
<br /><br />
@using Mvc.HtmlHelpers

@(Html.jqGrid("Categorias")
    .addColumn(new Column("Codemp").setLabel("codemp")
        .setHidden(true)
        .setWidth(50))
     .addColumn(new Column("Id").setLabel("ID")
        .setWidth(20))
    .addColumn(new Column("Nombre").setLabel("Nombre")
        .setEditable(true)
        .setWidth(50))
    .addColumn(new Column("Utilizacion").setLabel("Utilizacion")
        .setHidden(true)
        .setEditable(true)
        .setEditRules("edithidden:true")
        .setEditType(EditType.select)
        .setEditOptions("value:\""+ViewBag.Utilizacion+"\"")
        .setWidth(80))
    
    // settings
    .setCaption("Categorias")
    .setRequestType(RequestType.get)
    .setUrl("~/ProvCli/GetCategorias/")
    .setAltRows(true)
    .setAltClass("altGridRows")
    .setAutoWidth(true)
    .setRowNum(10)
    .setRowList(new int[] { 10, 30, 50 })
    .setViewRecords(true)
    .setSortName("Nombre")
    .setSortOrder(SortOrder.asc)
    .setPager("pagerCategorias")
    .setPagerPos(PagerPos.center)
    .setPgButtons(true)
    .setCellEdit(false)
    .setCellSubmit(CellSubmit.clientArray)
    .setNavEdit(ViewBag.Edit)
    .setEditUrl("/ProvCli/OperCategorias")
    .setNavAdd(ViewBag.Add)
    .setAddUrl("/ProvCli/OperCategorias")
    .setNavDel(ViewBag.Del)
    .setDelUrl("/ProvCli/OperCategorias")
    .setExcelExport("/ProvCli/ExportToExcel")
    .Render()

)
